h2 {
  color:steelblue
}


circle {
  fill: rgb(31, 119, 180);
  fill-opacity: .25;
  stroke: rgb(31, 119, 180);
  stroke-width: 1px;
}

.leaf circle {
  fill: #ff7f0e;
  fill-opacity: 1;
}

text {
  font: 10px sans-serif;
}

input[name="inputboxA"] {
  width: 425px;
}

input[name="inputboxB"] {
  width: 200px;
}

input[name="inputbox2"] {
  width: 425px;
}

input[name="button"] {
  width: 100px;
}

input[name="button2"] {
  width: 100px;
}
